*{
box-sizing: border-box;
margin: 0;
--main-color: #F7FBFC;
--accent-color: #A1E6EB;
--splash-color: #90C8AC;
--dark-splash-color: #73A9AD;
font-family: Manrope;
}

.App {
  background-color: var(--main-color);
}

.navbar {
  display: flex;
  height: 10vh;
  background-color: var(--dark-splash-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.logo{
  margin-right: auto;
}

.nav-list {
display: flex;
list-style-type: none;
margin-right: 5%;
margin-bottom: 0;
}

.nav-items {
margin: 0 5%;
font-size: 1.5vw;
margin-bottom: 0;
}

.nav-items:hover {
transform: scale(1.1);
cursor: pointer;
}


.home {
margin: 0;
background-color: var(--main-color);
}

.hero {
 margin: 0;
 display: flex;
 align-items: center;
 position: relative;
 height: 90vh;
}

.hero-container {
  width: 35%;
  margin-left: 15%;
  background-color: var(--splash-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3% 3%;
  border-radius: 5px;
  z-index: 3;
}

.hero-container h3 {
  font-size: 4.2vw;
  margin:  0 0 4% 0 ;
}

.hero-container p {
  font-size: 2vw;
  height: auto;
}

.button-container {
display: flex;
align-items: center;
gap: 10px;
justify-content: center;
margin-top: 2em;
}

.button-container button {
  font-size: 2.5vw;
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
}

.button-container button:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.1s;
}

.hero-img-div {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 1;
}

.hero-img-div img {
  height: 45vh;
  width: 45vw;
}

.auth {
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}

.auth-container {
height: 60vh;
width: 35vw;
background-color: var(--splash-color);
display: flex;
flex-direction: column;
align-items: center;
}

.auth-container h3{
font-size: 4vw;
margin-top: 1.5em;
margin-bottom: 1em;

}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-container form input {
  height: 5vh;
  width: 15vw;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  
}

.auth-container form input::placeholder {
  color: black;
  font-size: 1.5em;
  user-select: none;
}
.auth-container form button {
  height: 5vh;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid black;
  font-size: 1.6em;
  margin-top: 10px;
  margin-bottom: 1em;
}

.auth-container form button:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.1s; 
}

.auth-container h4 span:hover {
transform: scale(1.05);
transition: 0.1s;
cursor: pointer;
text-decoration: underline;
}